@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.a4{
  width:800px;
  height:400px;
  border:3px solid #ccc;
}

.sign{
  font-family: 'Satisfy', cursive;
  font-size: 107px;
  text-align: center;
  line-height: 400px; 		/* 박스와 높이를 같게 하면 수직방향 중앙정렬 가능 */
}
